* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.stonks {
	display: flex;
	align-items: center;
	justify-content: center;
}

.stonk {
	white-space: nowrap;
	margin: clamp(1rem, 10vmin, 50rem);
	transition: color 500ms ease, font-size 300ms ease;
}

.up {
	color: green;
}

.down {
	color: red;
}
